body {
    background-image: url(img/duality.jpg);
    background-size: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

main {
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 2em;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-style: italic;
}

.alien {
    position: absolute;
    top: 50%;
    right: 0;
}

.logger {
    backdrop-filter: blur(100px);
    padding: 1em 2em;
    border-radius: 1em;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 15em;
}

.log {
    overflow-y: scroll;
    height: 15em;
    padding: 1em;
    line-height: 2em;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(126, 126, 126);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 109, 109);
  }


section.grid {
    display: grid;
    margin: 0 auto;
    width: fit-content;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    gap: 0.5em;
    text-align: center;
}

section.grid div {
    backdrop-filter: blur(100px);
    color: transparent;
    border-radius: 0.05em;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}

section.grid div#hoverable:hover {
    animation: boing 1s infinite;
}

@keyframes boing {
    0% {
        margin-top: 0.02em;
        margin-bottom: -0.02em;
    }
    25% {
        margin-top: -0.02em;
        margin-bottom: 0.02em;
    }
    50% {
        margin-top: 0.02em;
        margin-bottom: -0.02em;
    }
    75% {
        margin-top: -0.02em;
        margin-bottom: 0.02em;
    }
}

section.grid div.red {
    background: rgb(255, 53, 53);
    animation: borderR 3s;
    animation-fill-mode: forwards;
}

section.grid div.blue {
    background: rgb(123, 123, 255);
    animation: borderR 3s ;
    animation-fill-mode: forwards;
}

@keyframes borderR {
    100% {
        border-radius: 5em;
    }
}

section.grid div#hoverable.pulseRed {
    animation: pulseRed 4s infinite;
    opacity: 30%;
}

@keyframes pulseRed {
    25% {
        background: rgb(255, 53, 53);
    }
    50% {
        background: transparent;
    }
    75% {
        background: rgb(255, 53, 53);
    }
    100% {
        background: transparent;
    }
}

section.grid div#hoverable.pulseBlue {
    animation: pulseBlue 4s infinite;
    opacity: 30%;
}

@keyframes pulseBlue {
    25% {
        background: rgb(123, 123, 255);
    }
    50% {
        background: transparent;
    }
    75% {
        background: rgb(123, 123, 255);
    }
    100% {
        background: transparent;
    }
}